html, body{
	width: 100%;
	margin: 0;
	padding: 0;
	background: #AED6F1;
}

h1{
  text-align: center;
  color: white;
  background: #154360;
}
button{
  background: #154360;
  color: #fff;
  border-radius: 15px;
  border:0px;

}
button:hover{
  background: red;
}
#menu{
  border: 1px solid black;
  width: 100%;
  background: #154360;
  height: 30px;
  position:fixed;
  z-index: 5;
  top: 0px;


}
#menu a{
  text-decoration: none;
  color: #fff;
}

#menu a:hover{
  text-decoration: none;
  color: red;
}
.botonMenuIz{
  float: right;
  color: #fff;
  padding: 6px;
  margin-right: 5px;
}
.botonMenuDe{
  float: left;
  padding: 6px;
  color: #fff;
}

.tabla{
	display: flex;
	align-items: center;
	justify-content: center;
}

table{
  width: calc(100% - 40px);
  border-collapse: collapse;
  border-bottom:0px solid black;
}

 th, td {
	text-align: center;
	border-left: 0px solid black;
	border-right: 0px solid black;
	padding-left: 10px;
	padding-right: 10px;	
}

tr:nth-child(even){background-color: #66B1D2;}

tr:hover {background-color: #ddd;}

th {
  background-color: #154360;
  color: white;
}
.tabla2{
  display: flex;
  align-items: center;
  justify-content: center;
}
.tabla2 table{
  display: block;
  overflow: scroll;
  width: calc(100% - 40px);
  border-collapse: collapse;
  border-bottom:1px solid black;
}

#registros{
	background: #fff;
	margin: auto;
	margin-top: 50px;
	width: 400px;
	border-radius: 5px;
	padding: 5px;
}


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #154360;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #154390;
}

.buscador{
  width:100%;
  margin-left: 10%;
}

.buscador input[type=number], select {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.buscador input[type=submit] {
  width: 100px;
  background-color: #154360;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buscador input[type=submit]:hover {
  background-color: #154390;
}

.container{
  text-align:center
  width:100%;
  margin-top: 50px;
  margin-bottom: 120px;    
}
.left{
  float:left;
  width:20%;
  margin-left: 10%;
}
.center{
  display: inline-block;
  margin: auto;
  width:20%;
  margin-left:10%;
  margin-right:5%;
}
.rigth{
  float:right;
  width:20%;
  margin-right: 10%;
}

.contenedor{
  text-align:center
  width:100%;
  margin-top: 10px;
  margin-bottom: 120px; 
}

.dashLeft{
  float:left;
  width: 20%;
  margin-left: 2%;

}
.dash{
  background: #C22908;
  text-align: center;
  border-radius: 15px;
  margin-left: 5px;
  margin-right: 5px;
box-shadow: 0px 0px 5px 2px gray;
 /* box-shadow: 2px 2px #ECECEC;*/
}
.dash h3{
  text-decoration: underline;
  padding: 10px;
}

.dash a{
  text-decoration: none;
  color: white; 
  font-weight: bold;
}
.dash a:hover{
  text-decoration: underline; 
}
.dashCenter{
  float: left;
  margin: auto;
  width:56%;
}
.grafico{
  float: left;
  width: 90%;
  margin-top: 0px;
  margin-left: 5px;
  
  
}
.dashRigth{
  float:right;
  width: 20%;
  margin-right: 2%;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #154360;
  padding-top: 10px;
  padding-bottom: 10px;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: red;}

.dropdown:hover .dropdown-content {
  display: block;
}
.titulo{
  float: right;
  font-size: 45px;
  
  margin-right: 10%;
  color: white;
  font-weight: bold;
}
.login{
  margin-top: 10%;
  margin-left: 35%;
  width: 25%;
  border:1px solid gray;
  border-radius: 15px;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 20px -1px #000000; 
  box-shadow: 0px 0px 10px -1px #000000;
}
/* switch control traspaso: */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.checkTransf{
  padding: 10px;
  background-color: red;
  border: 1px solid black;
  border-radius: 15px;
}

.dashCheck{ 
  width: fit-content;
  background: whait;
  text-align: center;
  border-radius: 15px;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 10px;
  padding-top: 0px;
  
box-shadow: 0px 0px 5px 2px gray;
 /* box-shadow: 2px 2px #ECECEC;*/

}
.dashCheck h3{
  text-decoration: underline;
  padding: 10px;
}


